@import "../../scss/colors";
@import "../../scss/theme";
@import "../../scss/fonts";
@import "../../scss/media";

.route {
    $this: &;
    font-weight: 400;
    margin-bottom: 1.25rem;

    &--version {
        @include dark-very-fade-fg;
        @include light-very-fade-fg;

        font-size: 0.9rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.35rem;
    }

    h3 {
        @include dark-border(transparent);
        @include light-border(rgba($-dark, 0.2));
        @include dark-bg($dark-400);
        @include light-bg($light-500);
        @include dark {
            box-shadow: $drop-shadow;
        }

        margin-top: 0 !important;
        margin-bottom: 0.15rem;
        display: inline-block;
        border-radius: 4px;
        font-size: 1.2rem !important;
    }

    &--method {
        @include dark-border(transparent, $side: right);
        @include light-border(rgba($-dark, 0.2), $side: right);
        @include dark-bg($dark-500, 4%);
        @include light-bg($light-400);
        @include dark-fg($-success, 10%);
        @include light-fg($-success);

        padding: 0.5rem 0.8rem 0.45rem 0.7rem;
        display: inline-block;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &--path {
        @include dark-very-fade-fg;
        @include light-very-fade-fg;

        margin-left: 0.2rem;
        padding: 0.5rem 0.6rem 0.45rem;
        display: inline-block;

        @include respond-below(sm) {
            display: inline-flex;
            flex-direction: column;
        }
    }

    &--path__param {
        @include dark-fg;
        @include light-fg;
    }

    &--auth {
        display: block;
        font-size: 0.95rem;
        margin-top: 0.2rem;
        font-weight: 500;
        color: $-primary;
    }

    #{$this}--label {
        @include dark-fade-fg;
        @include light-fade-fg;

        margin-top: 0;
        margin-bottom: 0.2rem;
        font-size: 0.8em;
        font-weight: 600;
        font-family: $font-family-sans-serif;
    }

    &--event-name, &--room {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 1.2em;
        color: color-adjust($-primary, -20%);
    }

    &--event-name {
        @include dark-fg($-primary, 10%);
        @include light-fg($-primary, -20%);
    }

    &--room {
        @include dark-semi-fade-fg;
        @include light-semi-fade-fg;
    }

    &--gateway-wrapper {
        @include dark-bg($dark-400);
        @include light-bg($light-450);

        border-left: 4px solid $-secondary;
        border-radius: 4px;
        box-shadow: $drop-shadow;
        position: relative;
    }

    &--gateway-metadata {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;

        & > div {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &--gateway-header {
        $padding: 1.1rem;
        padding: $padding $padding 0.3rem;
        overflow-x: hidden;

        #{$this}--gateway-elevation {
            @include respond-above(md) {
                position: absolute;
                top: $padding;
                right: $padding;
            }

            @include respond-below(md) {
                position: relative;
                margin-bottom: 1rem;
            }

            #{$this}--auth {
                @include dark-fg(rgba($-primary, 0.9), 10%);
                @include light-fg(rgba($-primary, 0.9));

                margin-top: 0;
                line-height: 1rem;
            }

            #{$this}--auth-icon {
                @include dark-fg(rgba($-primary, 0.4), 10%);
                @include light-fg(rgba($-primary, 0.4));

                font-size: 0.9em;
                position: relative;
                top: -2px;
                margin-right: 0.8rem;
            }
        }
    }

    &__client {
        #{$this}--gateway-wrapper {
            border-left-color: $aqua-forest;
        }

        #{$this}--sent-from {
            span {
                color: $aqua-forest;
            }

            &::before,
            &::after {
                background-color: $aqua-forest;
            }
        }
    }

    &__server {
        #{$this}--gateway-wrapper {
            border-left-color: $olivine;
        }

        #{$this}--sent-from {
            span {
                color: $olivine;
            }

            &-icon {
                svg {
                    transform: rotate(180deg);
                }
            }

            &::before,
            &::after {
                background-color: $olivine;
            }
        }
    }

    &--sent-from {
        @include dark-very-fade-fg;
        @include light-very-fade-fg;

        position: relative;
        margin-bottom: 1rem;
        margin-top: 0 !important;
        display: inline-block;

        &-icon {
            font-size: 0.8em;
            position: relative;
            top: -4px;
            margin-left: 6px;
        }

        $height: 4px;
        $spacing: 8px;
        &::before {
            $width: 12px;

            position: absolute;
            left: -$width - $spacing;
            top: calc(50% - #{$height / 2});
            content: " ";
            width: $width;
            height: $height;
        }

        &::after {
            $width: 40000px;
            $spacing: 8px;

            position: absolute;
            right: -$width - ($spacing * 1.5);
            top: calc(50% - #{$height / 2});
            content: " ";
            width: $width;
            height: $height;
            z-index: 2;
            opacity: 0.5;
        }
    }

    #{$this}--gateway-row {
        padding: 0.4rem 0.6rem;

        &.row__table {
            padding: 0 !important;

            th:first-child,
            td:first-child {
                padding-left: 1rem;
            }

            th {
                padding: 8px 0.75rem;
            }

            .table-outer {
                padding: 0 !important;
                margin: 0 !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
    }
}
